<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools" flex="row" layout-align="space-between center">
		<img src="svg/logo.svg" alt="logo tbird">
		<div hide-xs>
			<md-button href="/">Home</md-button>
			<md-button href="/about" >About</md-button>
			<md-button href="/contact">Contact</md-button>
		</div>
		<!-- <div hide-gt-xs>
			<md-menu>
				<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdMenu, $event)">
				  <md-icon md-menu-origin md-svg-icon="svg/menu-button.svg"></md-icon>
				</md-button>
				<md-menu-content width="4">
				  <md-menu-item>
					<md-button >
					  <md-icon md-menu-align-target></md-icon>
					  Home
					</md-button>
				  </md-menu-item>
				  <md-menu-item>
					<md-button>
					  <md-icon ></md-icon>
					  About
					</md-button>
				  </md-menu-item>
				  <md-menu-divider></md-menu-divider>
				  <md-menu-item>
					<md-button ng-click="ctrl.toggleNotifications()">
					  <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
					  {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} Contact
					</md-button>
				  </md-menu-item>
				</md-menu-content>
			  </md-menu>
		</div> -->
	</div>
</md-toolbar>