nav {
	.navBardemoBasicUsage md-content .ext-content {
		padding: 50px;
		margin: 20px;
		background-color: #FFF2E0; 
	}
	md-toolbar {
		background-color: transparent !important;
		position: absolute;
		top: 0;
		left: 0;
	}
	img {
		height: 50%;
	}
	md-icon {
		height: 30px;
		width: 30px;
	}
}