<div layout="column" layout-gt-xs="row" layout-align="start center">
                 
    <div flex-gt-xs="25"><img src="img/cover.png" alt="cover" width="100%"></div>
            <div flex-gt-xs="75">           
                <div layout="column" layout-gt-xs="row" layout-align="center center">
                    <div flex-gt-xs="15" layout-padding><img src="svg/play.svg" alt="icon-play" class="icon-play" ng-click="song.reproducir()"></div>
                    <div flex-gt-xs="85" text-align="center">
                        <p>TONY BIRD<br>Etude Japonaise for violin solo - Shakuhachi</p>
                     </div>
                </div>          
                <div layout="row" layout-align="end start" layout-padding>
                    <img src="svg/sound.svg" alt="icon-sound" class="icon-sound" ng-click="song.controlSonido()"> 
                </div>
            </div>
</div>


