
	<md-toolbar class="navBarFaded">
	<div class="md-toolbar-tools">
		<img src="svg/logo.svg">
		<span flex></span>

		<md-button class="md-default md-hue-1 colorWhite">Home</md-button>
		<md-button class="md-default md-hue-1 colorWhite">About</md-button>
		<md-button class="md-default md-hue-1 colorWhite">Contact</md-button>
	</div>
</md-toolbar>