<div layout="row" layout-align="center center">
<div flex="85" flex-xs="100" flex-gt-md="85">
  <md-grid-list
        md-cols-gt-md="4" md-cols="4" md-cols-xs="1" md-cols-sm="2"
        md-row-height-gt-md="1:1" md-row-height="2:2" md-row-height-sm="2:1"
        md-row-height-xs="2:1" md-gutter="15px" md-gutter-gt-sm="8px" md-gutter-xs="5px" >

    <md-grid-tile class="box a"
        md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="svg/playWhite.svg"></md-icon>
        </md-button>
    </md-grid-tile>

    <md-grid-tile class="box b"
        md-colspan="2" md-colspan-xs="1" md-colspan-sm="1">
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="svg/playWhite.svg"></md-icon>
        </md-button>
    </md-grid-tile>

    <md-grid-tile class="box c"
        md-rowspan="2" md-rowspan-xs="1" md-rowspan-sm="1">
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="svg/playWhite.svg"></md-icon>
        </md-button>
    </md-grid-tile>

    <md-grid-tile class="box d"
        md-rowspan="1">
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="svg/playWhite.svg"></md-icon>
        </md-button>
    </md-grid-tile>

    <md-grid-tile class="box e"
        md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="svg/playWhite.svg"></md-icon>
        </md-button>
    </md-grid-tile>

    <md-grid-tile class="banner"
    md-rowspan="1" md-colspan="4" md-colspan-sm="1" md-colspan-xs="1">
    </md-grid-tile>

  </md-grid-list>
</div>
</div>