grid-videos {
    div {

      .md-button {
        md-icon {
         height: 30px;
         width: 30px;
        }
      }
        
        .a {
          background: url(img/1.png);
          background-size: cover;
          background-position: center;
        }
        
        .b {
          background: url(img/2.png);
          background-size: cover;
          background-position: center;
        }
      
       .c {
          background: url(img/5.png);
          background-size: cover;
          background-position: center; }
      
       .d {
          background: url(img/3.png);
          background-size: cover;
          background-position: center; }
      
       .e {
          background: url(img/4.png);
          background-size: cover;
          background-position: center; }

        .banner {
          background:url(img/2bird.png);
          background-size: cover;
          background-position: center;
        }
      }
}