.about p {
	font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 300;
}

.about {
    margin: 0 0 0 25px;
    width: 500px;
}

.div-about{
	margin-bottom: 10%;
}