<banner img-url="img/contact.jpg"></banner>
	<div layout="column" layout-align="center center" layout-wrap>

		<h1>CONTACT</h1>
		<h2>DO YOU WANT TO CONTACT US?</h2>

		<p class="text-grey">Feel free to send us a message and we will respond immediately</p>

  <md-content layout-gt-sm="column" layout-padding>
      <md-input-container flex="100">
        <label>First Name</label>
        <input />
      </md-input-container>
      <md-input-container flex="100">
        <label>Second Name</label>
        <input />
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input type="email" />
      </md-input-container>
      <md-input-container>
        <label>Subject</label>
        <input />
      </md-input-container>
      <md-input-container>
        <label>Message</label>
        <textarea></textarea>
      </md-input-container>

    <md-checkbox aria-label="I agree to the Terms and Conditions and Privacy Policy">
  I agree to the Terms and Conditions and Privacy Policy
</md-checkbox>

<md-button class="md-black-button">Send</md-button>
  </md-content>
  </div>