
<div layout="row" layout-gt-xs="row" layout-wrap layout-align="center center">

	<div flex="50" flex-offset="50">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/G7ysgrDdDSM" frameborder="0" allowfullscreen></iframe>
	</div>
		
	</div>
</div>


