<div layout="column" layout-align="center">
	<banner img-url="img/home.jpg"></banner>
	<afkar-title-videos></afkar-title-videos>
	<grid-videos></grid-videos>
	<afkar-title-songs></afkar-title-songs>
		
	<div layout="column" layout-gt-xs="row" class="content" layout-wrap layout-align="space-between stretch">
			<afkar-songs class="songs-items"></afkar-songs>
			<afkar-songs class="songs-items"></afkar-songs>
			<afkar-songs class="songs-items"></afkar-songs>
			<afkar-songs class="songs-items"></afkar-songs>
			<afkar-songs class="songs-items"></afkar-songs>
			<afkar-songs class="songs-items"></afkar-songs>
			<afkar-songs class="songs-items"></afkar-songs>
			<afkar-songs class="songs-items"></afkar-songs>
			<afkar-songs class="songs-items"></afkar-songs>
			<afkar-songs class="songs-items"></afkar-songs>	
	</div>	


	<h2>SONGS ALBERT</h2>
	<div layout="column" layout-gt-xs="row" class="content" layout-wrap layout-align="space-between stretch">
			<afkar-albert-songs class="songs-items" song-url="songs/1.mp3"></afkar-albert-songs>
			<afkar-albert-songs class="songs-items" song-url="songs/2.mp3"></afkar-albert-songs>
			<afkar-albert-songs class="songs-items" song-url="songs/3.mp3"></afkar-albert-songs>
			<afkar-albert-songs class="songs-items" song-url="songs/4.mp3"></afkar-albert-songs>
	
	</div>	

	<div layout="column" layout-gt-xs="row" class="content" layout-wrap layout-align="center">
		<h2>REPRODUCTOR DE AUDIO ALEXIS</h2>
	</div>
	<div layout="column" layout-gt-xs="row" class="content" layout-wrap layout-align="space-between stretch">
			<afkar-pedro-songs class="songs-items" song-url="songs/1.mp3"></afkar-pedro-songs>
			<afkar-pedro-songs class="songs-items" song-url="songs/2.mp3"></afkar-pedro-songs>
			<afkar-pedro-songs class="songs-items" song-url="songs/3.mp3"></afkar-pedro-songs>
			<afkar-pedro-songs class="songs-items" song-url="songs/4.mp3"></afkar-pedro-songs>
	
	</div>	
	
	<div layout="column" layout-gt-xs="row" class="content" layout-wrap layout-align="space-between stretch">
		<afkar-pedro-video></afkar-pedro-video>
	</div>
	<afkar-footer></afkar-footer>
	</div>

	

	