
afkar-title-songs {
    h2 {
        padding-top: 5px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 100px;
        text-transform: uppercase;
        font-size: 2em;
    }
}