afkar-songs{
	border: 1px solid #ccc;			
	margin: 1em 0;
	box-sizing: border-box;	
}
.icon-play{
	width: 200%;
}

@media (min-width: 600px) {
    .icon-play {
      width: 80%;
    }
  }
.icon-sound{
	width:15%;
} 
@media (min-width: 600px) {
    .icon-sound {
		width:8%;
    }
  }